HarrisData/EIP/ExportPayrollACH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="payroll_ach">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="html_stylesheet" type="xs:string"/>
				<xs:element ref="bank"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="bank">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bank_number" type="xs:integer"/>
				<xs:element name="bank_name" type="xs:string"/>
				<xs:element name="bank_routing_transit" type="xs:string"/>
				<xs:element name="bank_routing_aba" type="xs:string"/>
				<xs:element name="bank_routing_check" type="xs:string"/>
				<xs:element name="bank_routing_hash" type="xs:int"/>
				<xs:element ref="ach_method"/>
				<xs:element ref="output_filler"/>
				<xs:element ref="immed_origin_value"/>
				<xs:element name="file_modifier" type="xs:string"/>
				<xs:element name="file_modifier_override" type="xs:string"/>
				<xs:element ref="employer_name_option"/>
				<xs:element ref="prenote_needed"/>
				<xs:element name="ach_transmission_file" type="xs:string"/>
				<xs:element name="ach_XSLT_file" type="xs:string"/>
				<xs:element name="fed_ein" type="xs:int"/>
				<xs:element name="cofac_name" type="xs:string"/>
				<xs:element name="cofac_name_upper" type="xs:string"/>
				<xs:element name="tax_default_employer_name" type="xs:string"/>
				<xs:element name="process_date" type="xs:date"/>
				<xs:element name="process_time" type="xs:time"/>
				<xs:element name="process_timestamp" type="xs:string"/>
				<xs:element name="process_user_profile" type="xs:string"/>
				<xs:element ref="batch" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="batch">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fed_ein" type="xs:int"/>
				<xs:element name="employer_bank_account" type="xs:string"/>
				<xs:element name="company" type="xs:int"/>
				<xs:element name="facility" type="xs:int"/>
				<xs:element name="cofac_name" type="xs:string"/>
				<xs:element name="cofac_name_upper" type="xs:string"/>
				<xs:element name="cofac_phone" type="xs:string"/>
				<xs:element name="tax_default_employer_name" type="xs:string"/>
				<xs:element name="check_date" type="xs:date"/>
				<xs:element name="pay_period_end_date" type="xs:date"/>
				<xs:element name="batch_number" type="xs:int"/>
				<xs:element ref="payee"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="payee">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="payee_detail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="payee_detail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="payee_number" type="xs:int"/>
				<xs:element name="payee_name" type="xs:string"/>
				<xs:element ref="payee_account_type"/>
				<xs:element name="payee_routing_transit" type="xs:string"/>
				<xs:element name="payee_routing_aba" type="xs:string"/>
				<xs:element name="payee_routing_check" type="xs:string"/>
				<xs:element name="payee_routing_hash" type="xs:int"/>
				<xs:element name="payee_account" type="xs:string"/>
				<xs:element ref="payee_prenote"/>
				<xs:element name="payee_amount" type="xs:decimal"/>
				<xs:element name="seq" type="xs:decimal"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="ach_method">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" "/>
				<xs:enumeration value="C"/>
				<xs:enumeration value="D"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="employer_name_option">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="immed_origin_value">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" "/>
				<xs:enumeration value="I"/>
				<xs:enumeration value="E"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="output_filler">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" "/>
				<xs:enumeration value="N"/>
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="payee_account_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="C"/>
				<xs:enumeration value="S"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="payee_prenote">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="N"/>
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="prenote_needed">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" "/>
				<xs:enumeration value="N"/>
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

</xs:schema>
