HarrisData/EIP/XML/Order.dtd

<?xml encoding="US-ASCII"?>
<!ELEMENT customerorders  ( customer+, customerorder+) >
<!ELEMENT customer (number, name) > 
<!ELEMENT number (#PCDATA) >
<!ELEMENT name (#PCDATA) >
<!ELEMENT customerorder  ( order, detail, linenumber, blanket, item, description ) >
<!ELEMENT order	(#PCDATA) >
<!ELEMENT detail (#PCDATA) >
<!ELEMENT linenumber (#PCDATA) > 
<!ELEMENT blanket (#PCDATA) >
<!ELEMENT item (#PCDATA)>
<!ELEMENT description (#PCDATA) >
          

