HarrisData/SG5/SalesOrderImportConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="sales_order_import">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="processing" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="key_column">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="import_total_column"/>
                            <xs:element type="xs:boolean" name="accept_prices"/>
                            <xs:element type="xs:boolean" name="log_transactions"/>
                            <xs:element type="xs:boolean" name="address_match"/>
                            <xs:element type="xs:boolean" name="phone_match"/>
                            <xs:element type="xs:boolean" name="copy_default_customer"/>
                            <xs:element type="xs:boolean" name="use_customer_item"/>
                            <xs:element type="xs:boolean" name="uppercase_alpha"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="defaults" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="customer">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="7"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="non_stock_item">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="15"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="order_type">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="hold_code" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="order" minOccurs="0" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="4"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="error" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="4"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="required_date_offset">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="email" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="import_column"/>
                            <xs:element type="xs:boolean" name="update_customer"/>
                            <xs:element name="documents" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:boolean" name="acknowledgment"/>
                                        <xs:element type="xs:boolean" name="invoice"/>
                                        <xs:element type="xs:boolean" name="pick_ticket"/>
                                        <xs:element type="xs:boolean" name="packing_list"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="address_columns" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="bill_to" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="H1BLTO"/>
                                        <xs:element type="xs:string" name="name" minOccurs="0" maxOccurs="1"/>
                                        <xs:element type="xs:string" name="address_1" minOccurs="0" maxOccurs="1"/>
                                        <xs:element type="xs:string" name="address_2"/>
                                        <xs:element type="xs:string" name="address_3"/>
                                        <xs:element type="xs:string" name="city" minOccurs="0" maxOccurs="1"/>
                                        <xs:element type="xs:string" name="state" minOccurs="0" maxOccurs="1"/>
                                        <xs:element type="xs:string" name="zip_code" minOccurs="0" maxOccurs="1"/>
                                        <xs:element type="xs:string" name="phone_number"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ship_to" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="H1SHTO"/>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="address_1"/>
                                        <xs:element type="xs:string" name="address_2"/>
                                        <xs:element type="xs:string" name="address_3"/>
                                        <xs:element type="xs:string" name="city"/>
                                        <xs:element type="xs:string" name="state"/>
                                        <xs:element type="xs:string" name="zip_code"/>
                                        <xs:element type="xs:string" name="phone_number"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="drop_ship" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="H1DSHP"/>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="address_1"/>
                                        <xs:element type="xs:string" name="address_2"/>
                                        <xs:element type="xs:string" name="address_3"/>
                                        <xs:element type="xs:string" name="city"/>
                                        <xs:element type="xs:string" name="state"/>
                                        <xs:element type="xs:string" name="zip_code"/>
                                        <xs:element type="xs:string" name="phone_number"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="header_columns" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="H1ORTY" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1CTRM" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1FRT"  minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1CHRG" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1LOC"  minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1BDTE" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1RQDT" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1DTE2" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1DTE3" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1DTE4" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1ATTN" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1ORRF" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1STOR" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UCA1" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UCA2" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UCA3" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UCA4" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UCA5" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UDF1" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UDF2" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UDF3" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UDF4" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UDF5" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UDF6" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UDF7" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UDF8" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UDF9" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="H1UDF0" minOccurs="1" maxOccurs="1"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="detail_columns" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="O1RQDT" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1ITEM" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="import_column" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="O1IMDS" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1ORCS" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1PCLS" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1WH" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1QORD" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="import_column" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="O1SLPR" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1TAXC" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDF1" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDF2" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDF3" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDF4" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDF5" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDF6" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDF7" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDF8" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDF9" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDF0" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDN1" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDN2" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDN3" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDN4" minOccurs="1" maxOccurs="1"></xs:element>
                            <xs:element name="O1UDN5" minOccurs="1" maxOccurs="1"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
