HarrisData/SG5/TableImportXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="hdDocSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="table"/>
				<xs:element ref="keys" minOccurs="0"/>
				<xs:element ref="row"/>
				<xs:element ref="link" minOccurs="0"/>
				<xs:element ref="filter" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="name" type="xs:string"/>
				<xs:element name="desc" type="xs:string"/>
				<xs:element name="maint_script_name" type="xs:string" minOccurs="0"/>
				<xs:element name="prog_opt_sec_prog" type="xs:string" minOccurs="0"/>
				<xs:element name="doc_script_name" type="xs:string" minOccurs="0"/>
				<xs:element name="XML_container" type="xs:string" minOccurs="0"/>
				<xs:element name="search_col_name" type="xs:string" minOccurs="0"/>
				<xs:element name="search_type" type="xs:string" minOccurs="0"/>
				<xs:element name="subprocedure" type="xs:string" minOccurs="0"/>
				<xs:element ref="audit" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="keys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="col" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="col" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="col">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="label" type="xs:string"/>
				<xs:element name="colheading" type="xs:string"/>
				<xs:choice>
					<xs:sequence minOccurs="0">
						<xs:element ref="data_type"/>
						<xs:element name="format" type="xs:string" minOccurs="0"/>
						<xs:element name="flag_type" type="xs:string" minOccurs="0"/>
						<xs:element name="length" type="xs:int" minOccurs="0"/>
						<xs:element name="default_value" type="xs:string" minOccurs="0"/>
						<xs:element name="required" type="xs:string" minOccurs="0"/>
						<xs:element name="uppercase_only" type="xs:string" minOccurs="0"/>
						<xs:element name="related_column_ID" type="xs:string" minOccurs="0"/>
						<xs:element name="ref_table" type="xs:string" minOccurs="0"/>
						<xs:element name="ref_column" type="xs:string" minOccurs="0"/>
						<xs:element name="ref_criteria" type="xs:string" minOccurs="0"/>
						<xs:element name="allow_null" type="xs:string" minOccurs="0"/>
						<xs:element name="allow_update" type="xs:string" minOccurs="0"/>
						<xs:element name="decimal" type="xs:int" minOccurs="0"/>
						<xs:element name="search_url" type="xs:string" minOccurs="0"/>
						<xs:element name="alt_sort" type="xs:string" minOccurs="0"/>
						<xs:element name="user_view_col" type="xs:string" minOccurs="0"/>
						<xs:element name="ccsid" type="xs:int" minOccurs="0"/>
						<xs:element name="condition_id" type="xs:string" minOccurs="0"/>
						<xs:element name="condition_desc" type="xs:string" minOccurs="0"/>
						<xs:element name="condition_table" type="xs:string" minOccurs="0"/>
						<xs:element name="condition_criteria" type="xs:string" minOccurs="0"/>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element name="condition_id" type="xs:string" minOccurs="0"/>
						<xs:element name="condition_desc" type="xs:string" minOccurs="0"/>
						<xs:element name="condition_table" type="xs:string" minOccurs="0"/>
						<xs:element name="condition_criteria" type="xs:string" minOccurs="0"/>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element name="format" type="xs:string" minOccurs="0"/>
						<xs:element name="related_column_1" type="xs:string" minOccurs="0"/>
						<xs:element name="related_column_2" type="xs:string" minOccurs="0"/>
						<xs:element name="related_column_3" type="xs:string" minOccurs="0"/>
						<xs:element name="related_column_4" type="xs:string" minOccurs="0"/>
						<xs:element name="related_column_5" type="xs:string" minOccurs="0"/>
						<xs:element name="related_column_6" type="xs:string" minOccurs="0"/>
						<xs:element name="ref_table" type="xs:string" minOccurs="0"/>
						<xs:element name="ref_column" type="xs:string" minOccurs="0"/>
						<xs:element name="ref_criteria" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="link">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="linkid" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="linkid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
				<xs:element name="display_sequence" type="xs:int"/>
				<xs:element name="column_name" type="xs:string" minOccurs="0"/>
				<xs:element name="condition_id" type="xs:string" minOccurs="0"/>
				<xs:element name="condition_desc" type="xs:string" minOccurs="0"/>
				<xs:element name="condition_table" type="xs:string" minOccurs="0"/>
				<xs:element name="condition_criteria" type="xs:string" minOccurs="0"/>
				<xs:element name="condition_sequence" type="xs:int" minOccurs="0"/>
				<xs:element name="urlid" type="xs:string" minOccurs="0"/>
				<xs:element name="image" type="xs:string" minOccurs="0"/>
				<xs:element name="script_name" type="xs:string" minOccurs="0"/>
				<xs:element name="pgm_opt_program_override" type="xs:string" minOccurs="0"/>
				<xs:element name="pgm_opt_sequence" type="xs:int" minOccurs="0"/>
				<xs:element name="imagepath" type="xs:string" minOccurs="0"/>
				<xs:element name="link_table" type="xs:string" minOccurs="0"/>
				<xs:element name="link_criteria" type="xs:string" minOccurs="0"/>
				<xs:element name="link_title" type="xs:string" minOccurs="0"/>
				<xs:element name="link_target" type="xs:string" minOccurs="0"/>
				<xs:element name="link_URL" type="xs:string" minOccurs="0"/>
				<xs:element name="link_image" type="xs:string" minOccurs="0"/>
				<xs:element name="link_parm" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="filter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="checkbox" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkbox">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="label" type="xs:string" minOccurs="0"/>
				<xs:element name="group" type="xs:string" minOccurs="0"/>
				<xs:element ref="default" minOccurs="0"/>
				<xs:element name="sql" type="xs:string" minOccurs="0"/>
				<xs:element name="desc" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="audit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="data_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="char"/>
				<xs:enumeration value="clob"/>
				<xs:enumeration value="date"/>
				<xs:enumeration value="integer"/>
				<xs:enumeration value="numeric"/>
				<xs:enumeration value="timestmp"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="default">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="B"/>
				<xs:enumeration value="C"/>
				<xs:enumeration value="D"/>
				<xs:enumeration value="T"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
