HarrisData/SG5/XML/fl return only.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<!--the entity declarations may be overridden in the internal subset-->
<!--namespace prefixes-->
<!ENTITY % n1_prefix "n1">
<!--namespace prefix to namespace uri mappings-->
<!ENTITY % n1_prefix.. "%n1_prefix;:">
<!--namespaces attributes for root element-->
<!ENTITY % documentElementAttributes " xmlns:%n1_prefix; CDATA 'http://www.irs.gov/efile'">
<!--the declarations below should not be modified-->
<!--element name mappings-->
<!ENTITY % n1..ZipCode "%n1_prefix..;ZipCode">
<!ENTITY % n1..WireIdentifier "%n1_prefix..;WireIdentifier">
<!ENTITY % n1..Wire "%n1_prefix..;Wire">
<!ENTITY % n1..WagePlan "%n1_prefix..;WagePlan">
<!ENTITY % n1..VoluntaryDIContributionDue "%n1_prefix..;VoluntaryDIContributionDue">
<!ENTITY % n1..UITotalWages "%n1_prefix..;UITotalWages">
<!ENTITY % n1..UITotalDue "%n1_prefix..;UITotalDue">
<!ENTITY % n1..UITaxableWages "%n1_prefix..;UITaxableWages">
<!ENTITY % n1..UIPenalty "%n1_prefix..;UIPenalty">
<!ENTITY % n1..UIInterest "%n1_prefix..;UIInterest">
<!ENTITY % n1..UICreditPreviousPeriod "%n1_prefix..;UICreditPreviousPeriod">
<!ENTITY % n1..UIAmountPaid "%n1_prefix..;UIAmountPaid">
<!ENTITY % n1..UIAmountDuePreviousPeriod "%n1_prefix..;UIAmountDuePreviousPeriod">
<!ENTITY % n1..TypeTIN "%n1_prefix..;TypeTIN">
<!ENTITY % n1..TypeStateEIN "%n1_prefix..;TypeStateEIN">
<!ENTITY % n1..TypeOfEmployment "%n1_prefix..;TypeOfEmployment">
<!ENTITY % n1..Transmitter "%n1_prefix..;Transmitter">
<!ENTITY % n1..TransmissionManifest "%n1_prefix..;TransmissionManifest">
<!ENTITY % n1..TransmissionId "%n1_prefix..;TransmissionId">
<!ENTITY % n1..TransmissionHeader "%n1_prefix..;TransmissionHeader">
<!ENTITY % n1..Transmission "%n1_prefix..;Transmission">
<!ENTITY % n1..TrainingFundContribution "%n1_prefix..;TrainingFundContribution">
<!ENTITY % n1..TotalWages "%n1_prefix..;TotalWages">
<!ENTITY % n1..TotalContingencyAssessmentDue "%n1_prefix..;TotalContingencyAssessmentDue">
<!ENTITY % n1..Title "%n1_prefix..;Title">
<!ENTITY % n1..Timestamp "%n1_prefix..;Timestamp">
<!ENTITY % n1..ThirdPartyAuthorization "%n1_prefix..;ThirdPartyAuthorization">
<!ENTITY % n1..Taxyear "%n1_prefix..;Taxyear">
<!ENTITY % n1..TaxpayerIdentifier "%n1_prefix..;TaxpayerIdentifier">
<!ENTITY % n1..Taxpayer "%n1_prefix..;Taxpayer">
<!ENTITY % n1..TaxableWages "%n1_prefix..;TaxableWages">
<!ENTITY % n1..TaxWithheld "%n1_prefix..;TaxWithheld">
<!ENTITY % n1..TaxTypeCode "%n1_prefix..;TaxTypeCode">
<!ENTITY % n1..TaxType "%n1_prefix..;TaxType">
<!ENTITY % n1..TaxState "%n1_prefix..;TaxState">
<!ENTITY % n1..TaxPeriodEndDate "%n1_prefix..;TaxPeriodEndDate">
<!ENTITY % n1..TaxPeriodBeginDate "%n1_prefix..;TaxPeriodBeginDate">
<!ENTITY % n1..TaxPayment "%n1_prefix..;TaxPayment">
<!ENTITY % n1..TaxPayerName "%n1_prefix..;TaxPayerName">
<!ENTITY % n1..TaxLiabilityIdentifier "%n1_prefix..;TaxLiabilityIdentifier">
<!ENTITY % n1..TaxLiabilityAmount "%n1_prefix..;TaxLiabilityAmount">
<!ENTITY % n1..TINTypeValue "%n1_prefix..;TINTypeValue">
<!ENTITY % n1..TIN "%n1_prefix..;TIN">
<!ENTITY % n1..SurchargeRate "%n1_prefix..;SurchargeRate">
<!ENTITY % n1..SurchargeDue "%n1_prefix..;SurchargeDue">
<!ENTITY % n1..SupplementalReturnElect "%n1_prefix..;SupplementalReturnElect">
<!ENTITY % n1..Suffix "%n1_prefix..;Suffix">
<!ENTITY % n1..SubCategoryAmounts "%n1_prefix..;SubCategoryAmounts">
<!ENTITY % n1..SubCategoryAmountType "%n1_prefix..;SubCategoryAmountType">
<!ENTITY % n1..SubCategoryAmount "%n1_prefix..;SubCategoryAmount">
<!ENTITY % n1..StreetAddress "%n1_prefix..;StreetAddress">
<!ENTITY % n1..StateUI "%n1_prefix..;StateUI">
<!ENTITY % n1..StateTaxTypeCode "%n1_prefix..;StateTaxTypeCode">
<!ENTITY % n1..StateReturn "%n1_prefix..;StateReturn">
<!ENTITY % n1..StateReceiptDate "%n1_prefix..;StateReceiptDate">
<!ENTITY % n1..StatePayment "%n1_prefix..;StatePayment">
<!ENTITY % n1..StateOrProvince "%n1_prefix..;StateOrProvince">
<!ENTITY % n1..StateEINValue "%n1_prefix..;StateEINValue">
<!ENTITY % n1..StateEINExtension "%n1_prefix..;StateEINExtension">
<!ENTITY % n1..StateEIN "%n1_prefix..;StateEIN">
<!ENTITY % n1..StateCode "%n1_prefix..;StateCode">
<!ENTITY % n1..StateAccountID "%n1_prefix..;StateAccountID">
<!ENTITY % n1..SoftwareId "%n1_prefix..;SoftwareId">
<!ENTITY % n1..Signature "%n1_prefix..;Signature">
<!ENTITY % n1..SelfEmployedElect "%n1_prefix..;SelfEmployedElect">
<!ENTITY % n1..SeasonalEmployerElect "%n1_prefix..;SeasonalEmployerElect">
<!ENTITY % n1..SSN "%n1_prefix..;SSN">
<!ENTITY % n1..RoutintTransitNumber "%n1_prefix..;RoutintTransitNumber">
<!ENTITY % n1..ReturnType "%n1_prefix..;ReturnType">
<!ENTITY % n1..ReturnSigner "%n1_prefix..;ReturnSigner">
<!ENTITY % n1..ReturnQuarter "%n1_prefix..;ReturnQuarter">
<!ENTITY % n1..ReturnOriginHeader "%n1_prefix..;ReturnOriginHeader">
<!ENTITY % n1..ReturnHeaderState "%n1_prefix..;ReturnHeaderState">
<!ENTITY % n1..ReturnHeader "%n1_prefix..;ReturnHeader">
<!ENTITY % n1..ReturnData "%n1_prefix..;ReturnData">
<!ENTITY % n1..RequestedSettlementDate "%n1_prefix..;RequestedSettlementDate">
<!ENTITY % n1..ReimbursablelEmployerElect "%n1_prefix..;ReimbursablelEmployerElect">
<!ENTITY % n1..Reason "%n1_prefix..;Reason">
<!ENTITY % n1..Quarter "%n1_prefix..;Quarter">
<!ENTITY % n1..ProcessType "%n1_prefix..;ProcessType">
<!ENTITY % n1..PreparerFirm "%n1_prefix..;PreparerFirm">
<!ENTITY % n1..Preparer "%n1_prefix..;Preparer">
<!ENTITY % n1..Prefix "%n1_prefix..;Prefix">
<!ENTITY % n1..PhoneNumber "%n1_prefix..;PhoneNumber">
<!ENTITY % n1..Phone "%n1_prefix..;Phone">
<!ENTITY % n1..PersonalIdentificationNumber "%n1_prefix..;PersonalIdentificationNumber">
<!ENTITY % n1..PenaltyPaid "%n1_prefix..;PenaltyPaid">
<!ENTITY % n1..PayrollDate "%n1_prefix..;PayrollDate">
<!ENTITY % n1..PayorName "%n1_prefix..;PayorName">
<!ENTITY % n1..Payor "%n1_prefix..;Payor">
<!ENTITY % n1..PaymentMethodType "%n1_prefix..;PaymentMethodType">
<!ENTITY % n1..PaymentInstrument "%n1_prefix..;PaymentInstrument">
<!ENTITY % n1..PaymentIncludedElect "%n1_prefix..;PaymentIncludedElect">
<!ENTITY % n1..PaymentIdentifier "%n1_prefix..;PaymentIdentifier">
<!ENTITY % n1..PaymentAmountTotal "%n1_prefix..;PaymentAmountTotal">
<!ENTITY % n1..PaymentAmount "%n1_prefix..;PaymentAmount">
<!ENTITY % n1..Payment "%n1_prefix..;Payment">
<!ENTITY % n1..PayRoll "%n1_prefix..;PayRoll">
<!ENTITY % n1..OverPaymentCredit "%n1_prefix..;OverPaymentCredit">
<!ENTITY % n1..OutOfStateWages "%n1_prefix..;OutOfStateWages">
<!ENTITY % n1..OtherTypeTIN "%n1_prefix..;OtherTypeTIN">
<!ENTITY % n1..OtherTINTypeValue "%n1_prefix..;OtherTINTypeValue">
<!ENTITY % n1..OtherTIN "%n1_prefix..;OtherTIN">
<!ENTITY % n1..Originator "%n1_prefix..;Originator">
<!ENTITY % n1..OriginationDate "%n1_prefix..;OriginationDate">
<!ENTITY % n1..OriginManifest "%n1_prefix..;OriginManifest">
<!ENTITY % n1..OriginId "%n1_prefix..;OriginId">
<!ENTITY % n1..OriginHeaders "%n1_prefix..;OriginHeaders">
<!ENTITY % n1..OriginHeaderReference "%n1_prefix..;OriginHeaderReference">
<!ENTITY % n1..OfficerCode "%n1_prefix..;OfficerCode">
<!ENTITY % n1..NumberOfEmployees "%n1_prefix..;NumberOfEmployees">
<!ENTITY % n1..NoPayrollElect "%n1_prefix..;NoPayrollElect">
<!ENTITY % n1..Name "%n1_prefix..;Name">
<!ENTITY % n1..Month3Employees "%n1_prefix..;Month3Employees">
<!ENTITY % n1..Month2Employees "%n1_prefix..;Month2Employees">
<!ENTITY % n1..Month1Employees "%n1_prefix..;Month1Employees">
<!ENTITY % n1..MiddleName "%n1_prefix..;MiddleName">
<!ENTITY % n1..LocationAddress "%n1_prefix..;LocationAddress">
<!ENTITY % n1..LastName "%n1_prefix..;LastName">
<!ENTITY % n1..Jurisdiction "%n1_prefix..;Jurisdiction">
<!ENTITY % n1..ItemReference "%n1_prefix..;ItemReference">
<!ENTITY % n1..InterestPaid "%n1_prefix..;InterestPaid">
<!ENTITY % n1..ISPNumber "%n1_prefix..;ISPNumber">
<!ENTITY % n1..HouseholdEmployerElect "%n1_prefix..;HouseholdEmployerElect">
<!ENTITY % n1..FullName "%n1_prefix..;FullName">
<!ENTITY % n1..Frequency "%n1_prefix..;Frequency">
<!ENTITY % n1..Form "%n1_prefix..;Form">
<!ENTITY % n1..FirstName "%n1_prefix..;FirstName">
<!ENTITY % n1..FinalReturnElect "%n1_prefix..;FinalReturnElect">
<!ENTITY % n1..FilingAction "%n1_prefix..;FilingAction">
<!ENTITY % n1..Fax "%n1_prefix..;Fax">
<!ENTITY % n1..FTACode "%n1_prefix..;FTACode">
<!ENTITY % n1..FIPSCode "%n1_prefix..;FIPSCode">
<!ENTITY % n1..ExcessWages "%n1_prefix..;ExcessWages">
<!ENTITY % n1..EnrollmentIdentifier "%n1_prefix..;EnrollmentIdentifier">
<!ENTITY % n1..EmployerHealthInsuranceCode "%n1_prefix..;EmployerHealthInsuranceCode">
<!ENTITY % n1..EmployeeNameFormat "%n1_prefix..;EmployeeNameFormat">
<!ENTITY % n1..EmployeeContribution "%n1_prefix..;EmployeeContribution">
<!ENTITY % n1..Employee "%n1_prefix..;Employee">
<!ENTITY % n1..EmailAddress "%n1_prefix..;EmailAddress">
<!ENTITY % n1..ElectronicPostmark "%n1_prefix..;ElectronicPostmark">
<!ENTITY % n1..ETIN "%n1_prefix..;ETIN">
<!ENTITY % n1..DueDate "%n1_prefix..;DueDate">
<!ENTITY % n1..DoingBusinessAs "%n1_prefix..;DoingBusinessAs">
<!ENTITY % n1..DisasterRelief "%n1_prefix..;DisasterRelief">
<!ENTITY % n1..DesigneePhone "%n1_prefix..;DesigneePhone">
<!ENTITY % n1..DesigneeName "%n1_prefix..;DesigneeName">
<!ENTITY % n1..DeliveryAddress "%n1_prefix..;DeliveryAddress">
<!ENTITY % n1..DebitAmount "%n1_prefix..;DebitAmount">
<!ENTITY % n1..DateSigned "%n1_prefix..;DateSigned">
<!ENTITY % n1..DateReceived "%n1_prefix..;DateReceived">
<!ENTITY % n1..DateFinalWagesPaid "%n1_prefix..;DateFinalWagesPaid">
<!ENTITY % n1..DPIN "%n1_prefix..;DPIN">
<!ENTITY % n1..DIContributionRate "%n1_prefix..;DIContributionRate">
<!ENTITY % n1..DIContributionDue "%n1_prefix..;DIContributionDue">
<!ENTITY % n1..CreditWeeks "%n1_prefix..;CreditWeeks">
<!ENTITY % n1..CreditMemo "%n1_prefix..;CreditMemo">
<!ENTITY % n1..CreditAmount "%n1_prefix..;CreditAmount">
<!ENTITY % n1..ContributionRate "%n1_prefix..;ContributionRate">
<!ENTITY % n1..ContributionDue "%n1_prefix..;ContributionDue">
<!ENTITY % n1..ContentLocation "%n1_prefix..;ContentLocation">
<!ENTITY % n1..ContactName "%n1_prefix..;ContactName">
<!ENTITY % n1..Contact "%n1_prefix..;Contact">
<!ENTITY % n1..City "%n1_prefix..;City">
<!ENTITY % n1..CentralRegistrationNumber "%n1_prefix..;CentralRegistrationNumber">
<!ENTITY % n1..BusinessNameControl "%n1_prefix..;BusinessNameControl">
<!ENTITY % n1..BusinessName "%n1_prefix..;BusinessName">
<!ENTITY % n1..BusinessAddress "%n1_prefix..;BusinessAddress">
<!ENTITY % n1..BankAccountNumber "%n1_prefix..;BankAccountNumber">
<!ENTITY % n1..AuthorizeThirdPartyElect "%n1_prefix..;AuthorizeThirdPartyElect">
<!ENTITY % n1..AuthorizationToDiscussWithPreparerElect "%n1_prefix..;AuthorizationToDiscussWithPreparerElect">
<!ENTITY % n1..AmendedReturnElect "%n1_prefix..;AmendedReturnElect">
<!ENTITY % n1..AgentIdentifier "%n1_prefix..;AgentIdentifier">
<!ENTITY % n1..AddressLine "%n1_prefix..;AddressLine">
<!ENTITY % n1..AddressChangeElect "%n1_prefix..;AddressChangeElect">
<!ENTITY % n1..ActualSettlementDate "%n1_prefix..;ActualSettlementDate">
<!ENTITY % n1..Action "%n1_prefix..;Action">
<!ENTITY % n1..AckAddress "%n1_prefix..;AckAddress">
<!ENTITY % n1..AccountHolderType "%n1_prefix..;AccountHolderType">
<!ENTITY % n1..Account "%n1_prefix..;Account">
<!--element and attribute declarations-->
<!ELEMENT %n1..ZipCode; (#PCDATA)>
<!ATTLIST %n1..ZipCode;
	%documentElementAttributes; 
>
<!ELEMENT %n1..WireIdentifier; EMPTY>
<!ATTLIST %n1..WireIdentifier;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Wire; (%n1..WireIdentifier;)>
<!ATTLIST %n1..Wire;
	%documentElementAttributes; 
>
<!ELEMENT %n1..WagePlan; (#PCDATA)>
<!ATTLIST %n1..WagePlan;
	%documentElementAttributes; 
>
<!ELEMENT %n1..VoluntaryDIContributionDue; (#PCDATA)>
<!ATTLIST %n1..VoluntaryDIContributionDue;
	%documentElementAttributes; 
>
<!ELEMENT %n1..UITotalWages; (#PCDATA)>
<!ATTLIST %n1..UITotalWages;
	%documentElementAttributes; 
>
<!ELEMENT %n1..UITotalDue; (#PCDATA)>
<!ATTLIST %n1..UITotalDue;
	%documentElementAttributes; 
>
<!ELEMENT %n1..UITaxableWages; (#PCDATA)>
<!ATTLIST %n1..UITaxableWages;
	%documentElementAttributes; 
>
<!ELEMENT %n1..UIPenalty; (#PCDATA)>
<!ATTLIST %n1..UIPenalty;
	%documentElementAttributes; 
>
<!ELEMENT %n1..UIInterest; (#PCDATA)>
<!ATTLIST %n1..UIInterest;
	%documentElementAttributes; 
>
<!ELEMENT %n1..UICreditPreviousPeriod; (#PCDATA)>
<!ATTLIST %n1..UICreditPreviousPeriod;
	%documentElementAttributes; 
>
<!ELEMENT %n1..UIAmountPaid; (#PCDATA)>
<!ATTLIST %n1..UIAmountPaid;
	%documentElementAttributes; 
>
<!ELEMENT %n1..UIAmountDuePreviousPeriod; (#PCDATA)>
<!ATTLIST %n1..UIAmountDuePreviousPeriod;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TypeTIN; (#PCDATA)>
<!ATTLIST %n1..TypeTIN;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TypeStateEIN; (#PCDATA)>
<!ATTLIST %n1..TypeStateEIN;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TypeOfEmployment; (#PCDATA)>
<!ATTLIST %n1..TypeOfEmployment;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Transmitter; (%n1..ETIN;)>
<!ATTLIST %n1..Transmitter;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TransmissionManifest; (%n1..OriginHeaderReference;)>
<!ATTLIST %n1..TransmissionManifest;
	originHeaderCount (2) #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %n1..TransmissionId; (#PCDATA)>
<!ATTLIST %n1..TransmissionId;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TransmissionHeader; (%n1..Jurisdiction;, %n1..TransmissionId;, %n1..Timestamp;, %n1..Transmitter;, %n1..ProcessType;, %n1..TransmissionManifest;)>
<!ATTLIST %n1..TransmissionHeader;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Transmission; (%n1..TransmissionHeader;, %n1..OriginHeaders;, %n1..ReturnData;)>
<!ATTLIST %n1..Transmission;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TrainingFundContribution; (#PCDATA)>
<!ATTLIST %n1..TrainingFundContribution;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TotalWages; (#PCDATA)>
<!ATTLIST %n1..TotalWages;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TotalContingencyAssessmentDue; (#PCDATA)>
<!ATTLIST %n1..TotalContingencyAssessmentDue;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Title; (#PCDATA)>
<!ATTLIST %n1..Title;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Timestamp; (#PCDATA)>
<!ATTLIST %n1..Timestamp;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ThirdPartyAuthorization; (%n1..AuthorizeThirdPartyElect;, %n1..DesigneeName;, %n1..DesigneePhone;, %n1..DPIN;)>
<!ATTLIST %n1..ThirdPartyAuthorization;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Taxyear; (#PCDATA)>
<!ATTLIST %n1..Taxyear;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxpayerIdentifier; EMPTY>
<!ATTLIST %n1..TaxpayerIdentifier;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Taxpayer; (%n1..TIN;, %n1..StateEIN;, %n1..TaxPayerName;)>
<!ATTLIST %n1..Taxpayer;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxableWages; (#PCDATA)>
<!ATTLIST %n1..TaxableWages;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxWithheld; (#PCDATA)>
<!ATTLIST %n1..TaxWithheld;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxTypeCode; (#PCDATA | %n1..FTACode; | %n1..StateTaxTypeCode;)*>
<!ATTLIST %n1..TaxTypeCode;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxType; (#PCDATA)>
<!ATTLIST %n1..TaxType;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxState; (#PCDATA)>
<!ATTLIST %n1..TaxState;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxPeriodEndDate; (#PCDATA)>
<!ATTLIST %n1..TaxPeriodEndDate;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxPeriodBeginDate; (#PCDATA)>
<!ATTLIST %n1..TaxPeriodBeginDate;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxPayment; (%n1..Taxpayer;, %n1..TaxTypeCode;, %n1..TaxPeriodBeginDate;, %n1..TaxPeriodEndDate;, %n1..TaxLiabilityAmount;, %n1..TaxLiabilityIdentifier;, %n1..SubCategoryAmounts;, %n1..Frequency;)>
<!ATTLIST %n1..TaxPayment;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxPayerName; (#PCDATA)>
<!ATTLIST %n1..TaxPayerName;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxLiabilityIdentifier; EMPTY>
<!ATTLIST %n1..TaxLiabilityIdentifier;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TaxLiabilityAmount; EMPTY>
<!ATTLIST %n1..TaxLiabilityAmount;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TINTypeValue; (#PCDATA)>
<!ATTLIST %n1..TINTypeValue;
	%documentElementAttributes; 
>
<!ELEMENT %n1..TIN; (%n1..TypeTIN;, %n1..TINTypeValue;)>
<!ATTLIST %n1..TIN;
	%documentElementAttributes; 
>
<!ELEMENT %n1..SurchargeRate; (#PCDATA)>
<!ATTLIST %n1..SurchargeRate;
	%documentElementAttributes; 
>
<!ELEMENT %n1..SurchargeDue; (#PCDATA)>
<!ATTLIST %n1..SurchargeDue;
	%documentElementAttributes; 
>
<!ELEMENT %n1..SupplementalReturnElect; (#PCDATA)>
<!ATTLIST %n1..SupplementalReturnElect;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Suffix; (#PCDATA)>
<!ATTLIST %n1..Suffix;
	%documentElementAttributes; 
>
<!ELEMENT %n1..SubCategoryAmounts; (%n1..SubCategoryAmountType;, %n1..SubCategoryAmount;)>
<!ATTLIST %n1..SubCategoryAmounts;
	%documentElementAttributes; 
>
<!ELEMENT %n1..SubCategoryAmountType; (#PCDATA)>
<!ATTLIST %n1..SubCategoryAmountType;
	%documentElementAttributes; 
>
<!ELEMENT %n1..SubCategoryAmount; (#PCDATA)>
<!ATTLIST %n1..SubCategoryAmount;
	%documentElementAttributes; 
>
<!ELEMENT %n1..StreetAddress; (#PCDATA)>
<!ATTLIST %n1..StreetAddress;
	%documentElementAttributes; 
>
<!ELEMENT %n1..StateUI; (%n1..ReturnHeader;, %n1..FinalReturnElect;, %n1..AmendedReturnElect;, %n1..DateFinalWagesPaid;, %n1..SeasonalEmployerElect;, %n1..ReimbursablelEmployerElect;, %n1..WagePlan;, %n1..NoPayrollElect;, %n1..UITotalWages;, %n1..ExcessWages;, %n1..UITaxableWages;, %n1..ContributionRate;, %n1..ContributionDue;, %n1..SurchargeRate;, %n1..SurchargeDue;, %n1..DIContributionRate;, %n1..DIContributionDue;, %n1..VoluntaryDIContributionDue;, %n1..TrainingFundContribution;, %n1..TotalContingencyAssessmentDue;, %n1..UIAmountPaid;, %n1..UIAmountDuePreviousPeriod;, %n1..UICreditPreviousPeriod;, %n1..UIInterest;, %n1..InterestPaid;, %n1..UIPenalty;, %n1..PenaltyPaid;, %n1..UITotalDue;, %n1..CreditWeeks;, %n1..PayRoll;, %n1..NumberOfEmployees;, %n1..Month1Employees;, %n1..Month2Employees;, %n1..Month3Employees;, %n1..Payment;)>
<!ATTLIST %n1..StateUI;
	documentType (Form) #REQUIRED
	documentName CDATA #REQUIRED
	documentId (A) #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %n1..StateTaxTypeCode; (#PCDATA)>
<!ATTLIST %n1..StateTaxTypeCode;
	%documentElementAttributes; 
>
<!ELEMENT %n1..StateReturn; (%n1..StateUI;)>
<!ATTLIST %n1..StateReturn;
	%documentElementAttributes; 
>
<!ELEMENT %n1..StateReceiptDate; (#PCDATA)>
<!ATTLIST %n1..StateReceiptDate;
	%documentElementAttributes; 
>
<!ELEMENT %n1..StatePayment; (%n1..PaymentInstrument;, %n1..PaymentIdentifier;, %n1..PaymentAmount;, %n1..OriginationDate;, %n1..RequestedSettlementDate;, %n1..ActualSettlementDate;, %n1..StateReceiptDate;, %n1..PayrollDate;, %n1..Payor;, %n1..Contact;, %n1..TaxPayment;)>
<!ATTLIST %n1..StatePayment;
	%documentElementAttributes; 
>
<!ELEMENT %n1..StateOrProvince; (#PCDATA)>
<!ATTLIST %n1..StateOrProvince;
	%documentElementAttributes; 
>
<!ELEMENT %n1..StateEINValue; (#PCDATA)>
<!ATTLIST %n1..StateEINValue;
	%documentElementAttributes; 
>
<!ELEMENT %n1..StateEINExtension; (#PCDATA)>
<!ATTLIST %n1..StateEINExtension;
	%documentElementAttributes; 
>
<!ELEMENT %n1..StateEIN; (%n1..TypeStateEIN;, %n1..StateEINValue;, %n1..StateEINExtension;)>
<!ATTLIST %n1..StateEIN;
	%documentElementAttributes; 
>
<!ELEMENT %n1..StateCode; (#PCDATA)>
<!ATTLIST %n1..StateCode;
	%documentElementAttributes; 
>
<!ELEMENT %n1..StateAccountID; EMPTY>
<!ATTLIST %n1..StateAccountID;
	%documentElementAttributes; 
>
<!ELEMENT %n1..SoftwareId; (#PCDATA)>
<!ATTLIST %n1..SoftwareId;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Signature; (#PCDATA)>
<!ATTLIST %n1..Signature;
	%documentElementAttributes; 
>
<!ELEMENT %n1..SelfEmployedElect; (#PCDATA)>
<!ATTLIST %n1..SelfEmployedElect;
	%documentElementAttributes; 
>
<!ELEMENT %n1..SeasonalEmployerElect; (#PCDATA)>
<!ATTLIST %n1..SeasonalEmployerElect;
	%documentElementAttributes; 
>
<!ELEMENT %n1..SSN; (#PCDATA)>
<!ATTLIST %n1..SSN;
	%documentElementAttributes; 
>
<!ELEMENT %n1..RoutintTransitNumber; (#PCDATA)>
<!ATTLIST %n1..RoutintTransitNumber;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ReturnType; (#PCDATA)>
<!ATTLIST %n1..ReturnType;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ReturnSigner; (%n1..Name;, %n1..Title;, %n1..Phone;, %n1..EmailAddress;, %n1..Signature;, %n1..DateSigned;)>
<!ATTLIST %n1..ReturnSigner;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ReturnQuarter; (#PCDATA)>
<!ATTLIST %n1..ReturnQuarter;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ReturnOriginHeader; (%n1..OriginId;, %n1..Timestamp;, %n1..OriginManifest;, %n1..Originator;)>
<!ATTLIST %n1..ReturnOriginHeader;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ReturnHeaderState; (%n1..ElectronicPostmark;, %n1..TaxPeriodBeginDate;, %n1..TaxPeriodEndDate;, %n1..DisasterRelief;, %n1..ISPNumber;, %n1..PreparerFirm;, %n1..Quarter;, %n1..ReturnQuarter;, %n1..DueDate;, %n1..DateReceived;, %n1..Taxyear;, %n1..SoftwareId;, %n1..ReturnType;, %n1..Form;, %n1..FilingAction;, %n1..TIN;, %n1..OtherTIN;, %n1..StateEIN;, %n1..FIPSCode;, %n1..StateCode;, %n1..EmployerHealthInsuranceCode;, %n1..BusinessNameControl;, %n1..BusinessAddress;, %n1..DeliveryAddress;, %n1..LocationAddress;, %n1..DoingBusinessAs;, %n1..AddressChangeElect;, %n1..HouseholdEmployerElect;, %n1..OfficerCode;, %n1..Preparer;, %n1..ReturnSigner;, %n1..Contact;, %n1..ThirdPartyAuthorization;, %n1..TaxType;, %n1..TaxTypeCode;, %n1..PaymentIncludedElect;, %n1..AuthorizationToDiscussWithPreparerElect;, %n1..SupplementalReturnElect;, %n1..AckAddress;)>
<!ATTLIST %n1..ReturnHeaderState;
	documentId (A) #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %n1..ReturnHeader; (%n1..ElectronicPostmark;, %n1..TaxPeriodBeginDate;, %n1..TaxPeriodEndDate;, %n1..DisasterRelief;, %n1..ISPNumber;, %n1..PreparerFirm;, %n1..Quarter;, %n1..ReturnQuarter;, %n1..DueDate;, %n1..DateReceived;, %n1..Taxyear;, %n1..SoftwareId;, %n1..ReturnType;, %n1..Form;, %n1..FilingAction;, %n1..TIN;, %n1..OtherTIN;, %n1..StateEIN;, %n1..FIPSCode;, %n1..StateCode;, %n1..EmployerHealthInsuranceCode;, %n1..BusinessNameControl;, %n1..BusinessAddress;, %n1..DeliveryAddress;, %n1..LocationAddress;, %n1..DoingBusinessAs;, %n1..AddressChangeElect;, %n1..HouseholdEmployerElect;, %n1..OfficerCode;, %n1..Preparer;, %n1..ReturnSigner;, %n1..Contact;, %n1..ThirdPartyAuthorization;, %n1..TaxType;, %n1..TaxTypeCode;, %n1..PaymentIncludedElect;, %n1..AuthorizationToDiscussWithPreparerElect;, %n1..SupplementalReturnElect;, %n1..AckAddress;)>
<!ATTLIST %n1..ReturnHeader;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ReturnData; (%n1..ContentLocation;, %n1..ReturnHeaderState;, %n1..StateReturn;, %n1..StatePayment;)>
<!ATTLIST %n1..ReturnData;
	documentCount (1) #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %n1..RequestedSettlementDate; (#PCDATA)>
<!ATTLIST %n1..RequestedSettlementDate;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ReimbursablelEmployerElect; (#PCDATA)>
<!ATTLIST %n1..ReimbursablelEmployerElect;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Reason; (#PCDATA)>
<!ATTLIST %n1..Reason;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Quarter; (#PCDATA)>
<!ATTLIST %n1..Quarter;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ProcessType; (#PCDATA)>
<!ATTLIST %n1..ProcessType;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PreparerFirm; (%n1..BusinessName;, %n1..AddressLine;, %n1..City;, %n1..StateOrProvince;, %n1..ZipCode;, %n1..PhoneNumber;, %n1..TIN;)>
<!ATTLIST %n1..PreparerFirm;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Preparer; (%n1..Name;, %n1..SSN;, %n1..Phone;, %n1..EmailAddress;, %n1..SelfEmployedElect;)>
<!ATTLIST %n1..Preparer;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Prefix; (#PCDATA)>
<!ATTLIST %n1..Prefix;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PhoneNumber; (#PCDATA)>
<!ATTLIST %n1..PhoneNumber;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Phone; (#PCDATA)>
<!ATTLIST %n1..Phone;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PersonalIdentificationNumber; EMPTY>
<!ATTLIST %n1..PersonalIdentificationNumber;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PenaltyPaid; (#PCDATA)>
<!ATTLIST %n1..PenaltyPaid;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PayrollDate; (#PCDATA)>
<!ATTLIST %n1..PayrollDate;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PayorName; EMPTY>
<!ATTLIST %n1..PayorName;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Payor; (%n1..TIN;, %n1..StateEIN;, %n1..StateAccountID;, %n1..CentralRegistrationNumber;, %n1..PayorName;)>
<!ATTLIST %n1..Payor;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PaymentMethodType; (#PCDATA)>
<!ATTLIST %n1..PaymentMethodType;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PaymentInstrument; (%n1..PaymentMethodType;, %n1..EnrollmentIdentifier;, %n1..Wire;)>
<!ATTLIST %n1..PaymentInstrument;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PaymentIncludedElect; (#PCDATA)>
<!ATTLIST %n1..PaymentIncludedElect;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PaymentIdentifier; (%n1..RoutintTransitNumber;, %n1..BankAccountNumber;, %n1..Account;, %n1..AccountHolderType;)?>
<!ATTLIST %n1..PaymentIdentifier;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PaymentAmountTotal; (#PCDATA)>
<!ATTLIST %n1..PaymentAmountTotal;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PaymentAmount; (%n1..OverPaymentCredit;, %n1..DebitAmount;, %n1..PaymentAmountTotal;)>
<!ATTLIST %n1..PaymentAmount;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Payment; (%n1..PaymentInstrument;, %n1..PaymentIdentifier;, %n1..PaymentAmount;, %n1..OriginationDate;, %n1..RequestedSettlementDate;, %n1..ActualSettlementDate;, %n1..StateReceiptDate;, %n1..PayrollDate;, %n1..Payor;, %n1..Contact;, %n1..TaxPayment;)>
<!ATTLIST %n1..Payment;
	%documentElementAttributes; 
>
<!ELEMENT %n1..PayRoll; (%n1..Employee;, %n1..EmployeeNameFormat;)>
<!ATTLIST %n1..PayRoll;
	%documentElementAttributes; 
>
<!ELEMENT %n1..OverPaymentCredit; (%n1..CreditMemo;, %n1..CreditAmount;)>
<!ATTLIST %n1..OverPaymentCredit;
	%documentElementAttributes; 
>
<!ELEMENT %n1..OutOfStateWages; (%n1..TotalWages;, %n1..TaxableWages;, %n1..TaxState;)>
<!ATTLIST %n1..OutOfStateWages;
	%documentElementAttributes; 
>
<!ELEMENT %n1..OtherTypeTIN; (#PCDATA)>
<!ATTLIST %n1..OtherTypeTIN;
	%documentElementAttributes; 
>
<!ELEMENT %n1..OtherTINTypeValue; (#PCDATA)>
<!ATTLIST %n1..OtherTINTypeValue;
	%documentElementAttributes; 
>
<!ELEMENT %n1..OtherTIN; (%n1..OtherTypeTIN;, %n1..OtherTINTypeValue;)>
<!ATTLIST %n1..OtherTIN;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Originator; (%n1..AgentIdentifier;)>
<!ATTLIST %n1..Originator;
	%documentElementAttributes; 
>
<!ELEMENT %n1..OriginationDate; (#PCDATA)>
<!ATTLIST %n1..OriginationDate;
	%documentElementAttributes; 
>
<!ELEMENT %n1..OriginManifest; (%n1..ItemReference;)>
<!ATTLIST %n1..OriginManifest;
	itemCount (2) #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %n1..OriginId; (#PCDATA)>
<!ATTLIST %n1..OriginId;
	%documentElementAttributes; 
>
<!ELEMENT %n1..OriginHeaders; (%n1..ReturnOriginHeader;)>
<!ATTLIST %n1..OriginHeaders;
	%documentElementAttributes; 
>
<!ELEMENT %n1..OriginHeaderReference; EMPTY>
<!ATTLIST %n1..OriginHeaderReference;
	originId (A) #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %n1..OfficerCode; (#PCDATA)>
<!ATTLIST %n1..OfficerCode;
	%documentElementAttributes; 
>
<!ELEMENT %n1..NumberOfEmployees; (#PCDATA)>
<!ATTLIST %n1..NumberOfEmployees;
	%documentElementAttributes; 
>
<!ELEMENT %n1..NoPayrollElect; (#PCDATA)>
<!ATTLIST %n1..NoPayrollElect;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Name; (#PCDATA)>
<!ATTLIST %n1..Name;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Month3Employees; (#PCDATA)>
<!ATTLIST %n1..Month3Employees;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Month2Employees; (#PCDATA)>
<!ATTLIST %n1..Month2Employees;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Month1Employees; (#PCDATA)>
<!ATTLIST %n1..Month1Employees;
	%documentElementAttributes; 
>
<!ELEMENT %n1..MiddleName; (#PCDATA)>
<!ATTLIST %n1..MiddleName;
	%documentElementAttributes; 
>
<!ELEMENT %n1..LocationAddress; (%n1..BusinessName;, %n1..AddressLine;, %n1..City;, %n1..StateOrProvince;, %n1..ZipCode;, %n1..PhoneNumber;, %n1..TIN;)>
<!ATTLIST %n1..LocationAddress;
	%documentElementAttributes; 
>
<!ELEMENT %n1..LastName; (#PCDATA)>
<!ATTLIST %n1..LastName;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Jurisdiction; (#PCDATA)>
<!ATTLIST %n1..Jurisdiction;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ItemReference; EMPTY>
<!ATTLIST %n1..ItemReference;
	contentLocation (A) #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %n1..InterestPaid; (#PCDATA)>
<!ATTLIST %n1..InterestPaid;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ISPNumber; (#PCDATA)>
<!ATTLIST %n1..ISPNumber;
	%documentElementAttributes; 
>
<!ELEMENT %n1..HouseholdEmployerElect; (#PCDATA)>
<!ATTLIST %n1..HouseholdEmployerElect;
	%documentElementAttributes; 
>
<!ELEMENT %n1..FullName; (#PCDATA)>
<!ATTLIST %n1..FullName;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Frequency; EMPTY>
<!ATTLIST %n1..Frequency;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Form; (#PCDATA)>
<!ATTLIST %n1..Form;
	%documentElementAttributes; 
>
<!ELEMENT %n1..FirstName; (#PCDATA)>
<!ATTLIST %n1..FirstName;
	%documentElementAttributes; 
>
<!ELEMENT %n1..FinalReturnElect; (#PCDATA)>
<!ATTLIST %n1..FinalReturnElect;
	%documentElementAttributes; 
>
<!ELEMENT %n1..FilingAction; (%n1..Action;, %n1..Reason;)>
<!ATTLIST %n1..FilingAction;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Fax; (#PCDATA)>
<!ATTLIST %n1..Fax;
	%documentElementAttributes; 
>
<!ELEMENT %n1..FTACode; (#PCDATA)>
<!ATTLIST %n1..FTACode;
	%documentElementAttributes; 
>
<!ELEMENT %n1..FIPSCode; (#PCDATA)>
<!ATTLIST %n1..FIPSCode;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ExcessWages; (#PCDATA)>
<!ATTLIST %n1..ExcessWages;
	%documentElementAttributes; 
>
<!ELEMENT %n1..EnrollmentIdentifier; (%n1..TaxpayerIdentifier;, %n1..PersonalIdentificationNumber;)>
<!ATTLIST %n1..EnrollmentIdentifier;
	%documentElementAttributes; 
>
<!ELEMENT %n1..EmployerHealthInsuranceCode; (#PCDATA)>
<!ATTLIST %n1..EmployerHealthInsuranceCode;
	%documentElementAttributes; 
>
<!ELEMENT %n1..EmployeeNameFormat; (#PCDATA)>
<!ATTLIST %n1..EmployeeNameFormat;
	%documentElementAttributes; 
>
<!ELEMENT %n1..EmployeeContribution; (#PCDATA)>
<!ATTLIST %n1..EmployeeContribution;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Employee; ((%n1..SSN;, %n1..Employee;, %n1..TotalWages;, %n1..TaxableWages;, %n1..TaxWithheld;, %n1..EmployeeContribution;, %n1..TypeOfEmployment;, %n1..TaxState;, %n1..OutOfStateWages;) | (%n1..Prefix;, %n1..Title;, %n1..FirstName;, %n1..MiddleName;, %n1..LastName;, %n1..Suffix;, %n1..FullName;, %n1..StreetAddress;, %n1..City;, %n1..StateOrProvince;, %n1..ZipCode;, %n1..PhoneNumber;))>
<!ATTLIST %n1..Employee;
	%documentElementAttributes; 
>
<!ELEMENT %n1..EmailAddress; (#PCDATA)>
<!ATTLIST %n1..EmailAddress;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ElectronicPostmark; (#PCDATA)>
<!ATTLIST %n1..ElectronicPostmark;
	DateSupplier (Originator) #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %n1..ETIN; (#PCDATA)>
<!ATTLIST %n1..ETIN;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DueDate; (#PCDATA)>
<!ATTLIST %n1..DueDate;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DoingBusinessAs; (%n1..BusinessName;, %n1..AddressLine;, %n1..City;, %n1..StateOrProvince;, %n1..ZipCode;, %n1..PhoneNumber;, %n1..TIN;)>
<!ATTLIST %n1..DoingBusinessAs;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DisasterRelief; (#PCDATA)>
<!ATTLIST %n1..DisasterRelief;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DesigneePhone; (#PCDATA)>
<!ATTLIST %n1..DesigneePhone;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DesigneeName; (#PCDATA)>
<!ATTLIST %n1..DesigneeName;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DeliveryAddress; (%n1..BusinessName;, %n1..AddressLine;, %n1..City;, %n1..StateOrProvince;, %n1..ZipCode;, %n1..PhoneNumber;, %n1..TIN;)>
<!ATTLIST %n1..DeliveryAddress;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DebitAmount; (#PCDATA)>
<!ATTLIST %n1..DebitAmount;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DateSigned; (#PCDATA)>
<!ATTLIST %n1..DateSigned;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DateReceived; (#PCDATA)>
<!ATTLIST %n1..DateReceived;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DateFinalWagesPaid; (#PCDATA)>
<!ATTLIST %n1..DateFinalWagesPaid;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DPIN; (#PCDATA)>
<!ATTLIST %n1..DPIN;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DIContributionRate; (#PCDATA)>
<!ATTLIST %n1..DIContributionRate;
	%documentElementAttributes; 
>
<!ELEMENT %n1..DIContributionDue; (#PCDATA)>
<!ATTLIST %n1..DIContributionDue;
	%documentElementAttributes; 
>
<!ELEMENT %n1..CreditWeeks; (#PCDATA)>
<!ATTLIST %n1..CreditWeeks;
	%documentElementAttributes; 
>
<!ELEMENT %n1..CreditMemo; (#PCDATA)>
<!ATTLIST %n1..CreditMemo;
	%documentElementAttributes; 
>
<!ELEMENT %n1..CreditAmount; (#PCDATA)>
<!ATTLIST %n1..CreditAmount;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ContributionRate; (#PCDATA)>
<!ATTLIST %n1..ContributionRate;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ContributionDue; (#PCDATA)>
<!ATTLIST %n1..ContributionDue;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ContentLocation; (#PCDATA)>
<!ATTLIST %n1..ContentLocation;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ContactName; (%n1..Prefix;, %n1..Title;, %n1..FirstName;, %n1..MiddleName;, %n1..LastName;, %n1..Suffix;, %n1..FullName;, %n1..StreetAddress;, %n1..City;, %n1..StateOrProvince;, %n1..ZipCode;, %n1..PhoneNumber;)>
<!ATTLIST %n1..ContactName;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Contact; (%n1..ContactName;, %n1..Phone;, %n1..Fax;, %n1..EmailAddress;)>
<!ATTLIST %n1..Contact;
	%documentElementAttributes; 
>
<!ELEMENT %n1..City; (#PCDATA)>
<!ATTLIST %n1..City;
	%documentElementAttributes; 
>
<!ELEMENT %n1..CentralRegistrationNumber; EMPTY>
<!ATTLIST %n1..CentralRegistrationNumber;
	%documentElementAttributes; 
>
<!ELEMENT %n1..BusinessNameControl; (#PCDATA)>
<!ATTLIST %n1..BusinessNameControl;
	%documentElementAttributes; 
>
<!ELEMENT %n1..BusinessName; (#PCDATA)>
<!ATTLIST %n1..BusinessName;
	%documentElementAttributes; 
>
<!ELEMENT %n1..BusinessAddress; (%n1..BusinessName;, %n1..AddressLine;, %n1..City;, %n1..StateOrProvince;, %n1..ZipCode;, %n1..PhoneNumber;, %n1..TIN;)>
<!ATTLIST %n1..BusinessAddress;
	%documentElementAttributes; 
>
<!ELEMENT %n1..BankAccountNumber; (#PCDATA)>
<!ATTLIST %n1..BankAccountNumber;
	%documentElementAttributes; 
>
<!ELEMENT %n1..AuthorizeThirdPartyElect; (#PCDATA)>
<!ATTLIST %n1..AuthorizeThirdPartyElect;
	%documentElementAttributes; 
>
<!ELEMENT %n1..AuthorizationToDiscussWithPreparerElect; (#PCDATA)>
<!ATTLIST %n1..AuthorizationToDiscussWithPreparerElect;
	%documentElementAttributes; 
>
<!ELEMENT %n1..AmendedReturnElect; (#PCDATA)>
<!ATTLIST %n1..AmendedReturnElect;
	documentReference CDATA #REQUIRED
	%documentElementAttributes; 
>
<!ELEMENT %n1..AgentIdentifier; (#PCDATA)>
<!ATTLIST %n1..AgentIdentifier;
	%documentElementAttributes; 
>
<!ELEMENT %n1..AddressLine; (#PCDATA)>
<!ATTLIST %n1..AddressLine;
	%documentElementAttributes; 
>
<!ELEMENT %n1..AddressChangeElect; (#PCDATA)>
<!ATTLIST %n1..AddressChangeElect;
	%documentElementAttributes; 
>
<!ELEMENT %n1..ActualSettlementDate; (#PCDATA)>
<!ATTLIST %n1..ActualSettlementDate;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Action; (#PCDATA)>
<!ATTLIST %n1..Action;
	%documentElementAttributes; 
>
<!ELEMENT %n1..AckAddress; (#PCDATA)>
<!ATTLIST %n1..AckAddress;
	%documentElementAttributes; 
>
<!ELEMENT %n1..AccountHolderType; (#PCDATA)>
<!ATTLIST %n1..AccountHolderType;
	%documentElementAttributes; 
>
<!ELEMENT %n1..Account; (#PCDATA)>
<!ATTLIST %n1..Account;
	%documentElementAttributes; 
>
